/* Archivo: assets/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0066cc;
}

a {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
